/* src/Style/Clients/AssignedProject.css */

.assigned-projects-page {
  margin-left: 91px;
  margin-right: 91px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #E6E7E8;
  
}

.assigned-projects-container {
  display: flex;
  gap: 40px;
  padding: 0 6%;
}

.assigned-left-panel {
  width: 260px;
}

.assigned-right-panel {
  flex: 1;
}

.project-card {
  text-decoration: none;
  color: inherit;
}

.project-card:hover {
  text-decoration: none;
  color: inherit;
}
