/* src/Style/Clients/BrowseProjects.css */

.browse-projects-page {
  font-family: 'Segoe UI', sans-serif;
  background-color: #E6E7E8;
  margin-left: 91px;
  margin-right: 91px;
}

.browse-container {
  display: flex;
  gap: 40px;
  padding: 0 6%;
}

.browse-left-panel {
  width: 260px;
}

.browse-right-panel {
  flex: 1;
}
