.project-details-page {
    font-family: 'Segoe UI', sans-serif;
    background-color: #E6E7E8;
    min-height: 100vh;
    padding: 0 6%;
  }
  
  .details-container {
    padding-top: 0px;
    margin-bottom: 60px;
  }
  
  .details-container h2 {
    font-size: 28px;
    color: #1B223C;
    margin-bottom: 20px;
  }
  
  .details-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .left {
    flex: 2;
    min-width: 300px;
  }
  
  .left h4 {
    color: #1B223C;
    font-weight: bold;
    margin: 0px 0 0px;
  }
  
  .left p {
    color: #444;
    font-size: 15px;
    margin-top: 0px;
  }
  
  .left button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #1B223C;
    color: #e0e0e0;
    padding: 10px 24px;
    border-radius: 30px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    width: fit-content;
    min-width: 160px;
    
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right img {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    object-fit: cover;
  }
  