/* src/Style/Clients/SubmittedProjects.css */

.submitted-projects-page {
  font-family: 'Segoe UI', sans-serif;
  background-color: #E6E7E8;
  margin-left: 91px;
  margin-right: 91px;
}

.submitted-container {
  display: flex;
  gap: 40px;
  padding: 0 6%;
}
.submitted-left-panel {
  width: 260px;
}

.submitted-right-panel {
  flex: 1;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 25px;
}

.project-card {
  background: #ddd;
  border-radius: 20px;
  padding: 0 0 15px;
  overflow: hidden;
  position: relative;
}

.project-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.project-card h4 {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 15px 5px;
  color: #1B223C;
}

.project-card p {
  font-size: 13px;
  margin: 0 15px;
  color: #444;
}

@media (max-width: 768px) {
  .project-grid {
    justify-content: center;
  }

  .search-wrapper {
    width: 100%;
    max-width: 100%;
  }
}
