/* src/Style/Clients/SubmittedProjects.css */

.submitted-projects-page {
  font-family: 'Segoe UI', sans-serif;
  background-color: #E6E7E8;
  margin-left: 91px;
  margin-right: 91px;
  min-height: 100vh;
}


.submitted-project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 25px;
}

.submitted-project-card {
  background: #ddd;
  border-radius: 20px;
  padding: 0 0 15px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.submitted-project-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.submitted-project-info h5 {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 15px 5px;
  color: #1B223C;
}

.submitted-project-info p {
  font-size: 13px;
  margin: 0 15px;
  color: #444;
}

.submitted-project-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: all 0.2s ease;
}


.submitted-content {
  padding: 0 6%;
}

.title-search-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 6%;
margin: 40px 0 25px;
}




.page-title4 {
  font-size: 28px;
  font-weight: bold;
  color: #1B223C;
  margin: 0;
  white-space: nowrap;
}

.search-wrapper4 {
  max-width: 73%;
  width: 100%;
  display: flex;
  align-items: center;
  background: #ddd;
  border-radius: 30px;
  padding: 12px 20px;
}

.search-wrapper4 input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 14px;
  outline: none;
}

.search-icon4 {
  width: 18px;
  height: 18px;
padding-right: 20px;
}