.notifications-page {
    background-color: #e6e7e8;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    margin-left: 91px;
    margin-right: 91px;
    padding-top: 120px; 

  }
  
  .notifications-container {
    width: 80%;
    margin: auto;
    margin-bottom: 100px;

    
  }
  
  .notifications-container h2 {
    font-size: 26px;
    color: #1b223c;
    margin-bottom: 20px;
  }
  
  .notification-list {
    list-style: none;
    padding: 0;
  }
  
  .notification-list li {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background-color: #ffffff;
    padding: 25px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .bell-icon {
    font-size: 20px;
    color: #1b223c;
    margin-top: 0px;
  }
  
  .notification-list p {
    margin-top: 5px;
    font-size: 14px;
    color: #1b223c;
  }
  