.project-details-page {
     font-family:var(--font-sans);
    background-color: #e6f1f5;
    min-height: 100vh;
    padding: 0 6%;
    padding-top: 120px; 

  }
  
  .details-container {
    padding-top: 20px;
    margin-bottom: 60px;
    margin-bottom: 100px;

  }
  
  .details-container h2 {
    font-size: 28px;
    color: #1B223C;
    margin-bottom: 30px;
  }
  
  .details-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .left {
    flex: 2;
    min-width: 300px;
  }
  
  .left h4 {
    color: #1B223C;
    font-weight: bold;
    margin: 25px 0 5px;
  }
  
  .left p {
    color: #444;
    font-size: 15px;
  }
  
  .left button {
    margin-top: 8px;
    background-color: #1B223C;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right img {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    object-fit: cover;
  }
  