.notifications-page {
    background-color: #E6E7E8;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    margin-left: 91px;
    margin-right: 91px;
  }
  
  .notifications-container2 {

    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 100px;
  }
  
  .notifications-container2 h2 {
    font-size: 26px;
    color: #1b223c;
    margin-bottom: 20px;
  }
  
  .notification-list {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
  }
  
  .notification-list li {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background-color: #ffffff;
    padding: 14px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .bell-icon {
    font-size: 20px;
    color: #1b223c;
    margin-top: 2px;
  }
  
  .notification-list p {
    margin: 0;
    font-size: 14px;
    color: #1b223c;
  }
  