/* src/Style/Freelancer/MyApplications.css */

.my-applications-page {
  font-family: 'Segoe UI', sans-serif;
  background-color: #E6E7E8;
  min-height: 100vh;
  padding: 0 6%;
  box-sizing: border-box;
}

.my-applications-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 6%;
  display: flex;
  gap: 40px;
  margin-bottom: 200px
}

.my-applications-layout {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.my-applications-left-panel {
  width: 265px;
}

.my-applications-right-panel {
  flex: 1;
}

.my-applications-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

}

.my-application-card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;

}

.my-application-card:hover{
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: all 0.2s ease;
}
.my-application-card img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  object-fit: cover;
}

.my-application-info h4 {
  font-size: 16px;
  margin: 0;
  color: #1B223C;
}

.my-application-info p {
  font-size: 13px;
  color: #000000;
  margin: 4px 0;
}

.freelancer-name {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #1B223C;
  gap: 6px;
}

.my-application-actions {
  margin-left: auto;
  display: flex;
  gap: 12px;
}

.my-application-actions .pending {
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 20px;
  background-color: #f0ad4e;
  color: white;
  font-weight: 500;
  border: none;
  cursor: default;
}



.my-application-actions .Pending {
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 20px;
  background-color: #f0ad4e;
  color: white;
  font-weight: 500;
  border: none;
  cursor: default;
}

.my-application-actions .Approved {
  background-color: #1B223C;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  border: none;
  cursor: default;
}

.my-application-actions .Canceled {
  background-color: #EE582B;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  border: none;
  cursor: default;
}

@media (max-width: 768px) {
  .project-applications-layout {
    flex-direction: column;
  }

  .search-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .my-applications-list {
    align-items: center;
  }
}
