/* src/Style/AllProjects.css */

.my-projects-page {
    margin-left: 91px;
    margin-right: 91px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #E6E7E8;
    padding-top: 120px; 

  }
  
  .my-projects-container {
    display: flex;
    gap: 40px;
    padding: 0 6%;
    margin-bottom: 330px;
  }
  
  .my-left-panel {
    width: 260px;
  }
  
  .my-right-panel {
    flex: 1;
  }
  
  .my-projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 25px;
 
  }
  
  .my-project-card{
    background: #ffffff;
    border-radius: 20px;
    padding: 0 0 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
  }

  .my-project-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: all 0.2s ease;
  }
  
  .my-project-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .my-project-card h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 15px 10px;
    color: #1B223C;
  }
  
  .my-project-card p {
    font-size: 13px;
    margin: 0 15px;
    color: #444;
  }
  
  .progress-text {
    position: left;
    bottom: 12px;
    margin-left: 14px;
    font-size: 13px;
    font-weight: bold;
    color: #1B223C;
    background-color: #e3e3e3;
    padding: 1px 11px 5px;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
  