/* src/Style/AboutUs.css */

.about-body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
  background-color: #E6E7E8;
  padding-top: 120px; 
  margin-bottom: 10px;
  padding-top: 120px; 
}

.about-container {
  width: 100%;
  height: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  padding: 0 6%;
  box-sizing: border-box;
}

.about-container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-left: -2px;
  color: #1B223C;
  padding-left: 90px;
  padding-right: 90px;
}

.about-container .highlight {
  color: #EE582B;
}

.about-container p {
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 25px;
  color: #4B4B4B;
  padding-left: 90px;
  padding-right: 90px;
}


.sign-in-btn {
  background-color: #1B223C;
  color: #fff;
  padding: 10px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}