/* src/Style/AboutUs.css */

.about-body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
  background-color: #E6E7E8;
}

.about-container {
  width: 100%;
  height: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  padding: 0 6%;
  box-sizing: border-box;
}

.about-container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #1B223C;
}

.about-container .highlight {
  color: #F2643A;
}

.about-container p {
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 25px;
  color: #4B4B4B;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2%; /* Consistent horizontal padding */
  flex-wrap: nowrap; /* Prevent wrapping */
  margin-bottom: 40px;
}


.logo-title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
}

.logo-image {
  height: 50px;
  width: auto;
}

.site-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1B223C;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: 16px;
  color: #1B223C;
  margin-right: 30px;
  padding: 0;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 90px; /* controls spacing between logo and links */
}

.sign-in-btn {
  background-color: #1B223C;
  color: #fff;
  padding: 10px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}