/* CircularProgress.css */

.circular-chart {
  width: 140px;
  height: 140px;
}

.circular {
  width: 100%;
  height: 100%;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke: #f1633a;
  stroke-width: 3.8;
  stroke-linecap: round;
  stroke-dasharray: 0 100;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.circle.open    { animation-name: progress0; }
.circle.assigned, .circle.inprogress { animation-name: progress50; }
.circle.submitted { animation-name: progress75; }
.circle.completed { animation-name: progress100; }

@keyframes progress0 {
  to { stroke-dasharray: 0 100 0 ; }
}

@keyframes progress50 {
  to { stroke-dasharray: 50 100; }
}

@keyframes progress75 {
  to { stroke-dasharray: 75 100; }
}

@keyframes progress100 {
  to { stroke-dasharray: 100 100; }
}

.percentage {
  fill: #1B223C;
  font-size: 0.5em;
  text-anchor: middle;
}
