
.freelancer-profile {
  background-color: #E6E7E8;
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  margin-left: 91px;
  margin-right: 91px;
  padding-top: 120px; 

}

.profile-container {
  width: 80%;
  margin-left: 91px;
  margin-right: 91px;
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 190px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}

.left-profile {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 83px;
  height: 80px;
  border-radius: 50%;
}

.profile-info {
  flex: 1;
  margin-left: 20px;
}

.profile-info h2 {
  color: #1b223c;
  margin-top: 15px;
}


.tab-buttons {
  display: flex;
    gap: 20px;
  margin-top: 30px;
  margin-bottom: -30px;
}


.tab-buttons button {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: 100px;
  background-color: transparent;
  color: #1b223c;
}

.tab-buttons .active {
  background-color: #1b223c;
  color: white;
}

.about-section {
  color: #1b223c;
  font-size: 14px;
  line-height: 1.6;
}

.about-section h4 {
  margin-top: 16px;   
    margin-bottom: 6px;  
    font-size: 16px;
  
}

.about-section p {
  margin-top: 0;
  margin-bottom: 6px;
}

.basic-info {
  margin-bottom: 10px;


}


.bio-info,
.skills-info,
.specialties-info {
  margin-bottom: 3px;
  
}

.basic-info p {
  font-size: 14px;
  margin: 10;
  font-weight: 600;
}

.bio-info p,
.skills-info p,
.specialties-info p {
  font-size: 14px;
  margin: 10;
}

.portfolio-section9 {
  margin-top: 20px;
}



.portfolio-card9 {
  height: 150px;
  border-radius: 15px;
}


  
  .portfolio-grid99 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 50px;
  }
  

  