/* Ensure dropdown stays visible when hovered */

 
.nav-links li:hover {
    color: #EE582B;
  }


.nav-links li {
    position: relative;
    cursor: pointer;
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .nav-icons {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .nav-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 20px;
  }
  
  .nav-icon:hover {
    transform: scale(1.1);
  }
  
  .nav-links li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #1d2543;
    padding: 10px;
    margin-top: 2px;
    width: 170px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .nav-links li:hover .dropdown,
  .nav-links li .dropdown:hover {
    display: block;
  }
  
  .dropdown li {
    list-style: none;
    padding: 8px 14px;
    color: #fafafa;
  
  }
  
  .dropdown li:hover {
    background-color: #2a3152;
    color: #EE582B;
    cursor: pointer;
  }

  .user-dropdown-wrapper {
  position: relative;
}

.user-dropdown {
  position: absolute;
  margin-top: 1px;
  top: 120%;
  right: 0;
  background: #1d2543;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  z-index: 20;
  min-width: 150px;
}

.user-dropdown .dropdown-item {
  margin-top: 1px;
  padding: 10px 16px;
  font-size: 14px;
  color: #fafafa;
  white-space: nowrap;
  transition: background-color 0.3s;
}

.user-dropdown .dropdown-item:hover {
  background-color: #2a3152;
  color: #EE582B;
  cursor: pointer;
}
.user-dropdown-wrapper {
  position: relative;
}

.user-dropdown {
  margin-top: 1px;
  display: none;
  position: absolute;
  top: 96%;
  right: 0;
  background: #1d2543;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 20;
  min-width: 130px;
  list-style: none;
    padding: 8px 14px;
    color: #fafafa;

}

.user-dropdown-wrapper:hover .user-dropdown {
  display: block;
}

.user-dropdown .dropdown-item {
  padding: 10px 16px;
  font-size: 14px;
  color: #fafafa;
  white-space: nowrap;
  transition: background-color 0.3s;
}

.user-dropdown .dropdown-item:hover {
  background-color: #2a3152;
  color: #EE582B;
  
}
