/* src/Style/PageContents.css */

.page-title {
    font-size: 32px;
    font-weight: bold;
    color: #1B223C;
    margin-bottom: 25px;
    margin-top: 8px;
    font-family: 'TT Hoves', sans-serif;
  }
  
  .search-wrapper {
    display: flex;
    align-items: center;
    background: #D9D9D9;
    padding: 12px 20px;
    border-radius: 30px;
    margin-bottom: 18px;
    margin-top: 5px;
    position: relative;
    width: 94%;
  }
  
  .search-wrapper input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 14px;
    outline: none;
  }
  
  .search-wrapper .search-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
  }
  
  .filter-section h3 {
    font-size: 20px;
    color: #1B223C;
    margin-bottom: 5px;
  }
  
  .filter-section .hint {
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .filter-group {
    margin-bottom: 25px;
    
  }
  
  .filter-group h4 {
    font-size: 14px;
    color: #1B223C;
    margin-bottom: 10px;
  }
  
  .filter-group label {
    display: block;
    font-size: 13px;
    color: #1B223C;
    margin-bottom: 6px;
  }
  .project-card:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: all 0.2s ease;
  }

  