
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
}



.payment-popup h2 {
  margin-bottom: 20px;
}

.payment-popup label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.payment-popup input,
.payment-popup textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.submit-btn {
  background-color: #f1633a;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #888;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
}
