.project-details-page {
  font-family: 'Segoe UI', sans-serif;
  background-color: #E6E7E8;
  min-height: 100vh;
  padding: 0 6%;
  margin-bottom: 40px;
}

.details-container {
  margin-bottom: 50px;
}

.details-container h2 {
  font-size: 28px;
  color: #1B223C;
  margin-bottom: 20px;
}

.details-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 20px;
}

.left {
  flex: 2;
  min-width: 300px;
}

.left h4 {
  color: #1B223C;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 20px;
}

.left p {
  color: #444;
  font-size: 15px;
  margin: 0 0 10px;
}


/* Primary button */
.left button {
  background-color: #1B223C;
  color: #e0e0e0;
  margin-top: 6px;
}


.left button:disabled {
  cursor: not-allowed;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.right img {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 20px;
  object-fit: cover;
  margin-top: -300px;
}
.download-btn2 {
    display: inline-block;
    background-color: #1b223c;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.2s ease;
    padding: 10px 20px;
    border: none;
  border-radius: 12px;
  cursor: pointer;
  }
  
  .download-btn2:hover {
    background-color: #343c5c;
  }
.edit-btn{
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.edit-btn:hover{
      background-color: #343c5c;
}
.apply-btn{
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  min-width: 160px;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;

}
.apply-btn:hover{
      background-color: #343c5c;

}