body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #E6E7E8;
  color: #1B223C;
}

.container {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  padding: 0 6%;
  box-sizing: border-box;
  padding-top: 120px; 
}


.main {
  text-align: center;
  margin-top: 3rem;
}

.main h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.student-card,
.graduate-card {
  width: 320px;
  height: 290px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  text-align: left;
  padding: 0 0 15px;
  position: relative;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.student-card:hover,
.graduate-card:hover {
  transform: translateY(-5px);
}

.student-card img,
.graduate-card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.student-card h4,
.graduate-card h4 {
  margin: 10px 15px 5px;
  font-size: 20px;
  color: #1B223C;
}

.student-card p,
.graduate-card p {
  margin: 0 15px;
  font-size: 15px;
  color: #333;
}


