body {
  margin: 0;
 font-family: 'Sifonn';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: 'Sifonn';
}
body {
  overflow-x: hidden;
}


/* src/index.css (or App.css) */
:root {
  --font-sans: "Outfit", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

html, body, #root {
  font-family: var(--font-sans);
}

/* Optional: default to a lighter feel for body text */
body { font-weight: 300; }         /* Outfit Light */
/* Headings still pop */
h1, h2, h3, .title { font-weight: 700; }
